APP_NAME="RAAED"
APP_VERSION="0.1"
OPENAI_API_KEY="sk-placeholder"

FILE_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

MONGODB_URL="mongodb://localhost:27017"
MONGODB_DATABASE="raad-rag"

# ========================= LLM Config =========================
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="LOCAL"

OPENAI_API_URL="https://api.openai.com/v1"
COHERE_API_KEY=""

GENERATION_MODEL_ID="gpt-3.5-turbo-0125"
EMBEDDING_MODEL_ID="Alibaba-NLP/gte-multilingual-base"
EMBEDDING_MODEL_SIZE=768

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND="CHROMADB"
VECTOR_DB_PATH="raad_chroma_db"
VECTOR_DB_DISTANCE_METHOD="cosine"

# ========================= Template Configs =========================
PRIMARY_LANG="en"
DEFAULT_LANG="en"